### Node dependencies ###
node_modules/

### Vite build output ###
dist/

### Environment variables ###
.env
.env.local

### Logs ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Editor & OS files ###
.DS_Store
Thumbs.db

### Cache ###
.vite/
.cache/

### Testing ###
coverage/

### Misc ###
.idea/
.vscode/
out/